.slider-container {
  display: inline;
  width: 100vw;
  height: 100vh;
}

.slider-visible {
  width: 400vw;
  height: 100vh;
}

.slider-image {
  animation: slide 15s infinite;
  width: 100vw;
  height: 100vh;
}

@keyframes slide {
  0% { transform: translateX(0%); }
  25% { transform: translateX(-100vw); }
  50% { transform: translateX(-200vw); }
  100% { transform: translateX(0%); }
}

.title {
  border-radius: 15px;
  position: absolute;
  top: 205vh;
  left: 25vw;
  background-color: white;
  width: 40vw;
}

.title p {
  display: block;
  align-items: center;
  text-align: center;
  text-shadow: 1px;
}