.slider-item {
  border-radius: 50%;
  height: var(--about-us-slider-height);
  position: absolute;
  width: var(--about-us-slider-width);
  right: 3vw;
  top: 25vh;
  transition: image-appear 1s linear;
}

@keyframes image-appear {
  0% {
      filter: blur(1);
  }
  100% {
      filter: blur(0);
  }
}