.slider-container {

  :hover {
    animation: grow 1s ease-out;
    animation-fill-mode: forwards;
    cursor: pointer;
  }

  @keyframes grow {
    0%   { 
      height: var(--about-us-slider-height);
      width: var(--about-us-slider-width);
    }
    25%  { 
      height:  51vh; 
      width: 31vw; 
    }
    50%  { 
      height:  52vh; 
      width: 32vw; 
    }    
    75%  { 
      height:  53vh; 
      width: 33vw; 
    }    
    100%  { 
      height:  54vh; 
      width: 34vw; 
    }
  }

  .slider-item {
    border: solid 5px var(--golden-color);
    border-radius: 60%;
    display: block;
    height: var(--about-us-slider-height);
    position: absolute;
    right: 9vw;
    top: 25vh;
    width: var(--about-us-slider-width);
  }

}



