.aboutUs-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin: 5vw;
}

.aboutUs-container > p {
    color: var(--h1-color);
    font-family: var(--font-family);
    font-weight: 700;
    position: absolute;
}

.aboutUs-container p:nth-child(1) {
    animation: text-appear 5s ease-in-out;
    top: 15%;
    left: 03%;
}

.aboutUs-container p:nth-child(2) {
    animation: text-appear 10s ease-in-out;
    top: 65%;
    left: 03%;
}

.aboutUs-image {
    height: 100vh;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100VW;
    z-index: 0;
}

@keyframes text-appear {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 700px) {
    .aboutUs-container > p {
        font-size: 1rem;
    }
}

.slider {
    background-color: var(--aboutus-background);
    border-radius: 5px;
    border: 1px solid var(--aboutus-background);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
}
