.contact-form {
    background-color: var(--contact-form-background);
    border-radius: 5px;
    border: 1.5px black solid;
    box-shadow: 5px 10px;
    display: grid;
    height: 70vh;
    margin: 0;
    padding: 1rem;
    width: 50%;
  }

.contact-form > input,
.contact-form > p,
.contact-form > h1,
.contact-form > select,
.contact-form > textarea {
  margin: 0.5rem 2rem;
}

.contact-form > h1 {
  color: var(--contact-h1-color);
  font-size: 1.5rem;
  text-align: center;
}

.contact-form > p {
  text-align: justify;
  text-justify: inter-word; 
  font-size: 0.9rem;
}

.contact-form > input {
  background-color: var(--input-background);
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.8rem;
}

.contact-form > select {
  background-color: var(--input-background);
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.8rem;
  text-align: center;
}

.contact-form > select:hover {
  cursor: pointer;
}

.contact-form > textarea {
  border-radius: 5px;
  border: 1px solid black;
  font-family: var(--font-family);
  height: 5rem;
  padding: 0.5rem;
}

.contact-form > button {
  background-color: var(--hover-color);
  border-radius: 5px;
  border: none;
  color: var(--header-background);
  font-weight: bold;
  margin: 0.5rem 5rem;
  padding: 0.5rem;
}

.contact-form > button:hover {
  cursor: pointer;
  font-size: 1.01rem;
}