:root {
  /* Background */
  --aboutus-background: rgb(21,76,121);
  --contact-background: lightyellow;
  --header-background: rgb(255, 255, 255);
  --projects-background: floralwhite;
  --services-background: rgb(247, 245, 237);
  /* Text */
  --h1-color: rgb(240, 240, 240);
  --text-highlight: rgb(255, 255, 255);;
  --text-whatsapp: rgb(37, 211, 102);
  --font-family: 'Raleway, sans-serif';
  /* Hover */
  --hover-color: rgb(21, 76, 121);
  /* border */
  --border-image-color: rgb(133, 151, 28);
}

@media only screen and (min-width: 850px) {
  :root {
    --container-height: 100vh;
    --header-height: 10vh;
    --header-font-size: 0.90rem;
    --header-option-width: 50%;
    --text-font-size: 1.5rem;
    --logo-width: 350px;
    --about-us-slider-width: 50vh;
    --about-us-slider-height: 50vh;
    --about-us-slider-width-hover: 65vh;
    --about-us-slider-height-hover: 65vh;
  }
}

@media only screen and (max-width: 850px) {
  :root {
    --container-height: 100vh;
    --header-height: 8vh;
    --header-option-width: 30%;
    --header-font-size: 0.50rem;
    --text-font-size: 0.7rem;
    --logo-width: 200px;
    --about-us-slider-width: 30vh;
    --about-us-slider-height: 30vh;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  font-size: 1.5rem;
  font-family: Raleway, sans-serif;
}

span {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-weight: bold;
  height: var(--header-height);
  justify-content: center;
  padding: 2vh 3vh;
}

.header {
  align-items: center;
  background-color: var(--header-background);
  display: flex;
  font-size: var(--header-font-size);
  height: var(--header-height);
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.options > span .active{
  background-color: var(--header-background);
  color: var(--text-highlight)
}

.options > span:hover {
  background-color: var(--hover-color);
  color: var(--text-highlight);
  cursor: pointer;
}

.options {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: var(--header-option-width);
}

.menu-container {
  display: none;
}

.icon-menu {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
}

@media only screen and (max-width: 850px) {
  .options {
    display: none;
    background-color: var(--header-background);
  }

  .menu-container {
    display: flex;
    justify-content: flex-end;
  }

  .menu-container:hover {
    color: var(--hover-color);
  }

  .mobileMenu {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
}

.logo {
  animation: logo-appear 2s ease-in-out;
  margin: 0 4vw;
  height: var(--header-height);
  width: var(--logo-width);
}

@keyframes logo-appear {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.active {
  background-color: var(--hover-color);
  color: var(--text-highlight)
}

.footer {
  background-color: var(--header-background);
  display: flex;
}

.icon {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.icon-whatsapp:hover {
  color: var(--text-whatsapp);
  height: 1.7rem;
  width: 1.7rem;
}