:root {
  --header-background: rgb(255, 255, 255);
  --header-height: 10vh;
  --aboutus-background: lightblue;
  --services-background: rgb(243, 165, 165);
  --projects-background: floralwhite;
  --contact-background: lightyellow;
  --hover-color: aquamarine;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  padding: 2vh 2vh;
}

span:selected {
  background-color: var(--hover-color);
}

.header {
  align-items: center;
  background-color: var(--header-background);
  display: flex;
  height: var(--header-height);
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
}

.header > span {
  background-color: var(--header-background);
}

.header > span:not(data-scroll='0'):hover{
  background-color: aquamarine;
}

.header > span:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.logo {
  height: var(--header-height);
}