:root {
  --header-background: rgb(255, 255, 255);
  --header-height: 10vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid black;
}

.header {
  align-items: center;
  background-color: var(--header-background);
  display: flex;
  height: var(--header-height);
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
}

.header > button {
  background-color: green;
}

.header > button:hover {
  background-color: red;
  cursor: pointer;
}

.logo {
  height: var(--header-height);
}