.aboutus-container, 
.services-container, 
.projects-container, 
.contact-container  {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--container-height);
  justify-content: center;
  overflow: hidden;
}
  
.aboutus-container {
  background-color: var(--aboutus-background);
}

.services-container {
  background-color: var(--services-background);
}

.projects-container {
  background-color: var(--projects-background);
}

.contact-container {
  background-color: var(--contact-background);
}