.aboutus-container, 
.services-container, 
.projects-container, 
.contact-container  {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: var(--container-height);
  justify-content: center;
  overflow: hidden;
}
  
.aboutus-container {
  background-color: var(--aboutus-background);
}

.services-container {
  height: 90vh;
  background-color: rgb(56, 52, 52);
}

.projects-container {
  height: 90vh;
  background-color: var(--projects-background);
}

.contact-container {
  height: 90vh;
  background-color: var(--contact-background);
}

.numColIng {
  position: relative;
  top: 4vh;
  right: 10vw;
  font-size: 0.9rem;
}

.logo {
  animation: logo-appear 2s ease-in-out;
  margin: 0 4vw;
  height: var(--header-height);
  width: var(--logo-width);
}

@keyframes logo-appear {
  0% {
      opacity: 0;
      transform: translateY(-20px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.header {
  align-items: center;
  background-color: var(--header-background);
  display: flex;
  font-size: var(--header-font-size);
  height: var(--header-height);
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.options > span .active{
  background-color: var(--header-background);
  color: var(--text-highlight)
}

.options > span:hover {
  background-color: var(--hover-color);
  color: var(--text-highlight);
  cursor: pointer;
}

.options {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: var(--header-option-width);
}

.menu-container {
  display: none;
}

.icon-menu {
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
}

@media only screen and (max-width: 850px) {
  .options {
    display: none;
    background-color: var(--header-background);
  }

  .menu-container {
    display: flex;
    justify-content: flex-end;
  }

  .menu-container:hover {
    color: var(--hover-color);
  }

  .mobileMenu {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
}

.active {
  background-color: var(--hover-color);
  color: var(--text-highlight)
}

.footer {
  background-color: var(--footer-background);
  color: white;
  display: flex;
}

.icon {
  color: white;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
}

.icon-whatsapp:hover {
  color: var(--text-whatsapp);
  height: 1.7rem;
  width: 1.7rem;
}